
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tools {
    position: absolute;
    bottom: 10px;
    left: calc(max(20%, 512px / 3));
    width: calc(max(60%, 512px));
    height: 64px;

    background-color: white;
    border: 2px solid gray;
    border-radius: 20px;

    display: flex;

    justify-content: center;
    align-items: center;
}

.tool {
    display: flex;
    width: 48px;
    height: 48px;

    background-color: magenta;
    border: 2px solid gray;
    border-radius: 5px;
    
    margin: 5px;
}

#pan {
    background: center / contain no-repeat url(pan.png);
    image-rendering: pixelated;
}

#pan:hover {
    background: center / contain no-repeat url(pan.png) lightgray;
}

#delete {
    background: center / contain no-repeat url(delete.png);
    image-rendering: pixelated;
}

#delete:hover {
    background: center / contain no-repeat url(delete.png) lightgray;
}

#hammer {
    background: center / contain no-repeat url(hammer.png);
    image-rendering: pixelated;
}

#hammer:hover {
    background: center / contain no-repeat url(hammer.png) lightgray;
}

#door {
    background: center / contain no-repeat url(door.png);
    image-rendering: pixelated;
}

#door:hover {
    background: center / contain no-repeat url(door.png) lightgray;
}

#button {
    background: center / contain no-repeat url(button.png);
    image-rendering: pixelated;
}

#button:hover {
    background: center / contain no-repeat url(button.png) lightgray;
}


#home {
    background: center / contain no-repeat url(home.png);
    image-rendering: pixelated;
}

#home:hover {
    background: center / contain no-repeat url(home.png) lightgray;
}

#exit {
    background: center / contain no-repeat url(exit.png);
    image-rendering: pixelated;
}

#exit:hover {
    background: center / contain no-repeat url(exit.png) lightgray;
}

#download {
    background: center / contain no-repeat url(download.png);
    image-rendering: pixelated;
}

#download:hover {
    background: center / contain no-repeat url(download.png) lightgray;
}

#restart {
    background: center / contain no-repeat url(restart.png);
    image-rendering: pixelated;
}

#restart:hover {
    background: center / contain no-repeat url(restart.png) lightgray;
}

#upload {
    background: center / contain no-repeat url(upload.png);
    image-rendering: pixelated;
}

#upload:hover {
    background: center / contain no-repeat url(upload.png) lightgray;
}
